.menuItem__container{
    border: 1px solid red;
    border-radius: 1rem;
    overflow: hidden;
    height: 600px;
    position: relative;
}

.menuItem__container__content {
    padding: 1rem;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
}

.menuItem__container__content h3 {
    font-size: 2rem;
}

.menuItem__container__content__buttons {
    display: flex;
    align-items: center;
    justify-content:  space-between;
    margin-top: 1rem;
}

.menuItem__container__content__buttons button {
    padding: 0.5rem;
    background-color: red;
    color: black;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
}

.menuItem__container__content__buttons button:hover {
    background-color: rgb(219, 12, 219);
}

.menuItem__container__content .star-icon {
    font-size: 2rem;
    cursor: pointer;
}

.info {
    padding: 1.5rem;
    overflow-y: auto;
}

.menuItem__container__buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.menuItem__container__buttons-container button{
    margin-left: 10px;
    padding: 0.3rem;
    background-color: red;
    color: black;
    border-radius: 0.5rem;
}

.menuItem__container__buttons-container button:hover{
    background-color: rgb(219, 12, 219);
    cursor: pointer;
}

ul {
    margin-left: 1rem;
}

.menuItem__container__buttons-container .activeButton {
    background-color: rgb(219, 12, 219);
}

.menuItem__container__image {
    height: 75%;
}

@media screen and (max-width: 1650px) {
    .menuItem__container{
        height: 450px;
    }

    .menuItem__container__image {
        height: 65%;
    }
}

@media screen and (max-width: 1450px) {
    .menuItem__container{
        height: 400px;
    }

    .menuItem__container__image {
        height: 65%;
    }

    .menuItem__container__content {
        padding: 1rem;
    }

    .menuItem__container__content h3 {
        font-size: 1.8rem;
    }

    .menuItem__container__content__buttons button  {
        padding: 0.4rem;
        border-radius: 0.4rem;
    }

    .menuItem__container__content__buttons .star-icon {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1250px) {
    .menuItem__container{
        height: 350px;
    }

    .menuItem__container__image {
        height: 65%;
    }

    .menuItem__container__content {
        padding: 0.8rem;
    }

    .menuItem__container__content h3 {
        font-size: 1.6rem;
    }

    .menuItem__container__content__buttons button  {
        padding: 0.3rem;
        border-radius: 0.3rem;
    }

    .menuItem__container__content__buttons .star-icon {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1150px) {
    .menuItem__container{
        height: 330px;
    }

    .menuItem__container__image {
        height: 65%;
    }

    .menuItem__container__content {
        padding: 0.7rem;
    }

    .menuItem__container__content h3 {
        font-size: 1.4rem;
    }

    .menuItem__container__content__buttons button  {
        padding: 0.2rem;
        border-radius: 0.3rem;
    }

    .menuItem__container__content__buttons .star-icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 750px) {
    .menuItem__container{
        height: 310px;
    }

    .menuItem__container__image {
        height: 65%;
    }

    .menuItem__container__content {
        padding: 0.5rem;
    }

    .menuItem__container__content h3 {
        font-size: 1.2rem;
    }

    .menuItem__container__content__buttons button  {
        padding: 0.2rem;
        border-radius: 0.2rem;
        font-size: 0.8rem;
    }

    .menuItem__container__content__buttons .star-icon {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1700px) {
    .menuItem__container__buttons-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .menuItem__container__buttons-container__buttons button{
        margin: 0px;
    }

    .menuItem__container__buttons-container .back-button {
        margin: 0px;
    }
}

@media screen and (max-width: 1500px) {
    .info {
        padding: 1rem;
    }

    .menuItem__container__buttons-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .menuItem__container__buttons-container h1 {
        font-size: 2rem;
    }

    .menuItem__container__buttons-container__buttons button{
        margin: 0px;
    }

    .menuItem__container__buttons-container .back-button {
        margin: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .info {
        padding: 1rem;
    }

    .menuItem__container__buttons-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .menuItem__container__buttons-container h1 {
        font-size: 1.5rem;
    }

    .menuItem__container__buttons-container__buttons button{
        margin: 0px;
        padding: 0.2rem;
        font-size: 0.8rem;
    }

    .menuItem__container__buttons-container .back-button {
        margin: 0px;
        font-size: 0.8rem;
        padding: 0.2rem;
    }
}

@media screen and (max-width: 1000px) {
    .menuItem__container__buttons-container h1 {
        font-size: 1.5rem;
    }

    .menuItem__container__buttons-container__buttons button{
        margin: 0px;
        padding: 0.2rem;
        font-size: 0.8rem;
    }

    .menuItem__container__buttons-container .back-button {
        margin: 0px;
        font-size: 0.8rem;
    }
}